.container {
    height: 85%;
    background-color: rgb(79, 78, 78);
}

i {
    padding-right: .7rem;
}

.side {
    width: 12%;
}

mat-sidenav {
    background-color: rgb(141, 138, 138);
}

mat-nav-list {
    justify-content: center;
}

.home, .categorias {
    color: white;
}

.nav {
    width: 50%;
}