.container {
    height: 85%;
    background-color: rgb(79, 78, 78);
}

.side {
    width: 12%;
}

.sidenav {
    width: 12rem;
    background-color: rgb(92, 91, 91);
}

img {
    width: 100%;
    height: 9rem;
    margin: 2rem auto 1rem auto;
}

.sidenav a {
    color: white;
}

.sidenav a:hover{
    color: rgb(0, 0, 0);
}

.sidenav i {
    padding-right: .7rem;
    color: rgb(212, 85, 63);
}

.nav {
    width: 50%;
}