.footer{
    position: fixed;
    bottom: 0;
    background-color: rgb(32, 32, 32);
    justify-content: space-between;
    height: 5%;
}

h3 {
    font-size: 1rem;
    color: white;
    opacity: .4;
}

a{
    text-decoration: none;
}