<form>
    <h1>Cadastrar novo livro</h1>

    <mat-form-field class="form"> 
        <mat-label class="labelNome">Título</mat-label>
        <input matInput [(ngModel)]="livro.titulo" [formControl]="titulo" required type="text" name="titulo" placeholder="Ex. Java orientado a objetos" maxlength="100">
        <mat-error *ngIf="titulo.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form"> 
        <mat-label class="labelNome">Autor</mat-label>
        <input matInput [(ngModel)]="livro.nome_autor" [formControl]="autor" required type="text" name="autor" placeholder="Ex. Douglas Rocha Mendes" maxlength="100">
        <mat-error *ngIf="autor.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form"> 
        <mat-label class="labelNome">Preço de Capa</mat-label>
        <input matInput [(ngModel)]="livro.preco_capa" [formControl]="preco_capa" required type="text" name="autor" placeholder="Ex. Douglas Rocha Mendes" maxlength="100">
        <mat-error *ngIf="preco_capa.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form"> 
        <mat-label class="labelDescricao">Descrição</mat-label>
        <textarea matInput [(ngModel)]="livro.texto" [formControl]="descricao" required  type="text" name="descricao" placeholder="Ex. Programação java com ênfase em orientação a objetos" maxlength="2000000"></textarea>
        <mat-error *ngIf="descricao.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" [disabled]="getMessage()" class="criar mat-elevation-z4" mat-stroked-button>Criar</button>
        <button  (click)="cancel()"class="cancelar mat-elevation-z4" mat-stroked-button>Cancelar</button>
    </div>

</form>

