<form>
    <h1>Excluir Cadastro</h1>

    <mat-form-field class="form"> 
        <mat-label class="labelNome">Título</mat-label>
        <input matInput [(ngModel)]="livro.titulo" type="text" name="titulo" disabled>
    </mat-form-field>

    <mat-form-field class="form"> 
        <mat-label class="labelNome">Autor</mat-label>
        <input matInput [(ngModel)]="livro.nome_autor" type="text" name="autor" disabled>
    </mat-form-field>

    <mat-form-field class="form"> 
        <mat-label class="labelNome">Preco de capa</mat-label>
        <input matInput [(ngModel)]="livro.preco_capa" type="text" name="autor" disabled>
    </mat-form-field>

    <mat-form-field class="form"> 
        <mat-label class="labelDescricao">Descrição</mat-label>
        <textarea matInput [(ngModel)]="livro.texto" type="text" name="descricao" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button  (click)="delete()" class="criar mat-elevation-z4" mat-stroked-button>Excluir</button>
        <button  (click)="cancel()" class="cancelar mat-elevation-z4" mat-stroked-button>Cancelar</button>
    </div>

</form>


