<form>

    
    <mat-card class="home mat-elevation-z4">
        <mat-card-title class="title">{{ livro.titulo }}</mat-card-title>
    </mat-card>

    <mat-card class="home mat-elevation-z4">
        <mat-card-subtitle class="subtitle">{{ livro.nome_autor }}</mat-card-subtitle>
    </mat-card>

    <mat-card class="home mat-elevation-z4">
        <mat-card-title class="title">{{ livro.texto }}</mat-card-title>
    </mat-card>

    <mat-card class="home mat-elevation-z4">
        <mat-card-title class="preco_capa">Preço de Capa - {{ livro.preco_capa | currency }}</mat-card-title>
    </mat-card>

    

</form>

<button (click)="cancel()" class="voltar mat-elevation-z4" mat-stroked-button>Voltar</button>