<form>
    <h1>Criando nova Estante</h1>

    <mat-form-field class="form"> 
        <mat-label class="labelNome">Nome</mat-label>
        <input matInput [(ngModel)]="categoria.nome" type="text" name="nome" placeholder="Ex. Musica">
    </mat-form-field>
    <mat-form-field class="form"> 
        <mat-label class="labelDescricao">Descrição</mat-label>
        <textarea matInput type="text" [(ngModel)]="categoria.descricao" name="descricao" placeholder="Ex. Livros de musica"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" class="criar mat-elevation-z4" mat-stroked-button>Criar</button>
        <button (click)="cancelar()"class="cancelar mat-elevation-z4" mat-stroked-button>Cancelar</button>
    </div>

</form>
