<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title"> Bem Vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle"> Sistema para exemplificar um CRUD usando Angular e Spring Boot</mat-card-subtitle>
</mat-card>

<mat-card class="home-contato-linkedin mat-elevation-z4">
    <a href="https://www.linkedin.com/in/rodrigo-almeida-b6a99b177/" target="_blank"><img mat-card-image src="assets/img/logoLinkedin.png" alt="iconLinkedin"></a>
</mat-card>

<mat-card class="home-contato-git mat-elevation-z4">
    <a href="https://github.com/Rodrigoxalmeida" target="_blank"><img mat-card-image src="assets/img/gitHub.png" alt="IconGitHub"></a>
</mat-card>
